.cabecalho{
    display: inline-flex;
   }
   .mostarda{
   background-color: #B7730E;
   width:900px ;
   height: 297px;
   display: flex;
   justify-content: center;
   }
   .mostarda-imagem{
   width: 150px;
   height:229.74px;
   padding:34px;
   }
   .cinza{
   background-color: #B0AFAF;
   width:1000px ;
   height: 297px;
   display:flex;
   justify-content: center;
   font-family: 'Inconsolata', monospace;
   font-weight: 700;
   font-size: 64px;
   }
   .cinza_texto {
.fachada_identificação {
   display: inline-flex;
   align-items: center;
   margin: 50px;
   text-align: center;
   }
   .titulo{
   font-family: 'Inter', sans-serif;
   font-weight: 900;
   font-size: 91px;
   display: flex;
   justify-content: center;
   padding: 10px;
   }
   .texto{
   font-family: 'Inter', sans-serif;   
   font-weight: 700;
   font-size: 40px;
   text-align: justify;
   margin: 200px;
   width: 2200px;
   height: 200px;
   }
   .estrutura {
   display:grid;
   grid-template-columns: 800px 800px;
   row-gap: 90px;
   column-gap: 90px;
   margin: 200px;
   padding-bottom: 27px;
   }
.fachada_identificação {
font-family: 'Inter', sans-serif;
font-weight: 600;
font-size: 36px;
text-align: center;
}
