.cabecalho{
    display: inline-flex;
   }
   .mostarda{
   background-color: #B7730E;
   width:800px ;
   height: 297px;
   display: flex;
   justify-content: center;
   }
   .mostarda-imagem{
   width: 150px;
   height:229.74px;
   padding:34px;
   }
   .cinza{
   background-color: #B0AFAF;
   width:600px ;
   height: 297px;
   display:flex;
   justify-content: center;
   font-family: 'Inconsolata', monospace;
   font-weight: 700;
   font-size: 64px;
   }
   .cinza_texto {
   display: inline-flex;
   align-items: center;
   margin: 50px;
   text-align: center;
   }
   .titulo{
   font-family: 'Inter', sans-serif;
   font-weight: 900;
   font-size: 91px;
   display: flex;
   justify-content: center;
   padding: 30px;
   }
   .texto{
   font-family: 'Inter', sans-serif;   
   font-weight: 400;.cabecalho{
2
 display: inline-flex;
3
}
4
.mostarda{
5
background-color: #B7730E;
6
width:800px ;
7
height: 297px;
8
display: flex;
9
justify-content: center;
10
}
11
.mostarda-imagem{
12
width: 150px;
13
height:229.74px;
14
padding:34px;
15
}
16
.cinza{
17
background-color: #B0AFAF;
18
width:600px ;
19
height: 297px;
20
display:flex;
21
justify-content: center;
22
font-family: 'Inconsolata', monospace;
23
font-weight: 700;
24
font-size: 64px;
25
}
26
.cinza_texto {
27
display: inline-flex;
28
align-items: center;
29
margin: 50px;
30
text-align: center;
31
}
32
.titulo{
33
font-family: 'Inter', sans-serif;
34
font-weight: 900;
35
font-size: 91px;
36
display: flex;
37
justify-content: center;
38
padding: 30px;
39
}
40
.texto{
41
font-family: 'Inter', sans-serif;   
42
font-weight: 400;
43
font-size: 40px;
44
text-align: justify;
45
margin: 20px;
46
width: 1400px;
47
height: 200px;
48
}
49
.estrutura {
50
display:grid;
51
grid-template-columns: 800px 800px;
52
row-gap: 90px;
53
column-gap: 35px;
54
margin: 90px;
55
padding-bottom: 27px;
56
}
57

   font-size: 40px;
   text-align: justify;
   margin: 20px;
   width: 1400px;
   height: 200px;
   }
   .estrutura {
   display:grid;
   grid-template-columns: 800px 800px;
   row-gap: 90px;
   column-gap: 35px;
   margin: 90px;
   padding-bottom: 27px;
   }
.fachada_identificação {
font-family: 'Inter', sans-serif;
font-weight: 600;
font-size: 36px;
text-align: center;
}
